# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Build
dist/
.build/
.astro/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# IDEs
.idea/
*.iml

# Misc
coverage/
