---
import InventoryDashboard from '../components/InventoryDashboard.jsx';
import "../styles/global.css"
---
<html>
  <head><title>Inventario</title></head>
  <body class="bg-gray-100">
    <!-- client:load hidrata el componente en el cliente -->
    <InventoryDashboard client:load />
  </body>
</html>
